*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






body{
  min-height:100vh;

}

.doctor-container .container{
  display: flex;
  align-items: center;
  justify-content: space-between; 
   gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width:767px){
  .doctor-container .container{ 
      justify-content: center;  
  }
}